apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Base resources
resources:
  - ../../common
  - ../../mysql
  - ../../users
  - ../../products
  - ../../orders
  - ../../frontend

# Namespace
namespace: microstore

# Common labels para todos los recursos
commonLabels:
  environment: minikube
  managed-by: kustomize

# Patches específicos para Minikube
patches:
  # Cambiar imagePullPolicy a Never para usar imágenes locales
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Never
  
  # Remover registry prefix de las imágenes
  - target:
      kind: Deployment
      name: users-deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: microstore-users:latest
  
  - target:
      kind: Deployment
      name: products-deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: microstore-products:latest
  
  - target:
      kind: Deployment
      name: orders-deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: microstore-orders:latest
  
  - target:
      kind: Deployment
      name: frontend-deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: microstore-frontend:latest

# ConfigMap patches para Minikube
configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
      - CONTAINER_REGISTRY=local
      - EXTERNAL_IP=MINIKUBE_IP_PLACEHOLDER  # Se actualizará con script
