# Ignorar carpetas y archivos de Vagrant
.vagrant/
*.box

# Ignorar claves privadas y certificados
*.pem
*.key
*.crt

# Archivos temporales de sistema
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de provisionamiento generados automáticamente
*.retry

# Archivos de Kubernetes generados o temporales
*.yaml~
*.yml~
